*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root
{
    --white: rgb(255, 255, 255);
    --gray: rgb(235, 235, 235);
    --green: rgb(20, 124, 20);
    --greenyellow: rgb(158, 218, 68);
    --dark: rgba(0, 0, 0, .5);
}

html,
body
{
    height: 100%;
}

body
{
    position: relative;
    font-family: sans-serif;
}

body.active
{
    background: var(--dark);
}

body::before,
body::after
{
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background: rgba(209, 238, 47,.5);
    z-index: -1;
    filter: blur(50px);    
}

body::before
{
    top: 20%;
    left: 20%;
}

body::after
{
    bottom: 20%;
    right: 20%;
}

h1
{
    text-align: center;
    font-family: serif;
    margin: 50px 0;
}

img
{
    max-width: 100%;
    height: auto;
}

.wrapper
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    margin: 0 50px 50px;
}


@media(max-width:996px)
{
    .wrapper
    {
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:776px)
{
    .wrapper
    {
        grid-template-columns: 1fr;
    }
}

.block
{
    background: var(--white);
    border: 10px solid var(--gray);
    padding: 20px;
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);
    display: flex;
    flex-direction: column;
}

.block.active
{
    background: var(--dark);
    border-color: var(--dark);
}

.block h1
{
    margin: 0 0 20px;
}

.block p
{
    line-height: 1.7;
    margin: 20px 0;
}

.block ul
{
    margin: 0 0 0 30px;
}

.block li
{
    margin: 5px 0;
}

.block picture
{
    display: block;
    margin: 0 0 30px;
}

.block.active picture
{
    opacity: .3;
}

.price
{
    text-align: center;
    margin: 20px 0;
}

.button
{
    margin-top: auto;
    display: inline-block;
    padding: 10px 5px;
    cursor: pointer;
    background: var(--greenyellow);
    text-align: center;
    transition: .5s;
    border-radius: 5px;
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);
}

.button:hover
{
    background: var(--green);
    color: var(--white);
}

.block.active .button
{
    background: var(--dark);
}

/* кошик у правому верхньому куті */
#checkout
{
    position: fixed;
    top: 10px;
    right: 10px;
    display: none;
    z-index: 2;
    background: var(--white);
    width: 25%;
    padding: 10px;
    border: 5px solid var(--gray);
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);   
}

#checkout.active
{
    display: block;
}

#checkout h5
{
    font-size: 18px;
    margin: 0 0 10px;
}

#checkout a
{
    display: block;
    margin: 5px 0;
}

#checkout hr
{
    margin: 5px 0;
    border: none;
    border-top: 1px solid var(--gray);
}

/**/
#order
{
    /* width: 300px;
    margin: 200px auto auto; */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#order label span
{
    display: block;
    margin: 0 0 10px;
    cursor: pointer;
}

#order textarea
{
    padding: 10px;
    width: 100%!important;
}

#order .back
{
    margin: 10px 0;
}